#Test
[Depart]
Nom = Depart

[Propriete]
Nom = Bd de Belleville
Prix = 6000
Couleur = violet
Loyers = {2, 10, 30, 90, 160, 250}

[Carte]
Nom = Caisse de Communaute
Type = communaute

[Propriete]
Nom = Rue lecourbe
Prix = 6000
Couleur = violet
Loyers = {2, 10, 30, 90, 160, 250}

[Taxe]
Nom = Impôt sur le revenu
Taxe = 20000

[Gare]
Nom = Gare Montparnasse
Prix = 20000
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Rue de Vaugirard
Prix = 10000
Couleur = gris
Loyers = {2, 10, 30, 90, 160, 250}

[Carte]
Nom = Chance
Type = chance

[Propriete]
Nom = Rue de Courcelles
Prix = 10000
Couleur = gris
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Avenue de la république
Prix = 12000
Couleur = gris
Loyers = {4, 20, 60, 180, 320, 450}

[Prison]
Nom = La zonzon

[Propriete]
Nom = Bd de la Villette
Prix = 14000
Couleur = rose
Loyers = {4, 20, 60, 180, 320, 450}

[Service publique]
Nom = Compagnie d'électricité
Prix = 15000

[Propriete]
Nom = Avenue de Neuilly
Prix = 14000
Couleur = rose
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Rue du Paradis
Prix = 16000
Couleur = rose
Loyers = {4, 20, 60, 180, 320, 450}

[Gare]
Nom = Gare de Lyon
Prix = 20000
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Avenue de Mozart
Prix = 18000
Couleur = orange
Loyers = {4, 20, 60, 180, 320, 450}

[Carte]
Nom = Caisse de Communaute
Type = communaute

[Propriete]
Nom = Bd Saint-Michel
Prix = 18000
Couleur = orange
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Place Pigalle
Prix = 20000
Couleur = orange
Loyers = {4, 20, 60, 180, 320, 450}

[Parc]
Nom = Parc gratuit

[Propriete]
Nom = Avenue Matignon
Prix = 22000
Couleur = rouge
Loyers = {4, 20, 60, 180, 320, 450}

[Carte]
Nom = Chance
Type = chance

[Propriete]
Nom = Bd Maledherbes
Prix = 22000
Couleur = rouge
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Avenue Henri-Martin
Prix = 24000
Couleur = rouge
Loyers = {4, 20, 60, 180, 320, 450}

[Gare]
Nom = Gare du Nord
Prix = 20000
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Faubourg Saint-Honoré
Prix = 26000
Couleur = jaune
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Place de la bourse
Prix = 26000
Couleur = jaune
Loyers = {4, 20, 60, 180, 320, 450}

[Service publique]
Nom = Compagnie des eaux
Prix = 15000

[Propriete]
Nom = Rue La Fayette
Prix = 28000
Couleur = jaune
Loyers = {4, 20, 60, 180, 320, 450}

[Aller prison]
Nom = Allez en prison

[Propriete]
Nom = Avenue de Breteuil
Prix = 30000
Couleur = vert
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Avenue Foch
Prix = 30000
Couleur = vert
Loyers = {4, 20, 60, 180, 320, 450}

[Propriete]
Nom = Avenue Foch
Prix = 30000
Couleur = vert
Loyers = {4, 20, 60, 180, 320, 450}

[Carte]
Nom = Caisse de Communaute
Type = communaute

[Propriete]
Nom = Bd des Capucines
Prix = 32000
Couleur = vert
Loyers = {4, 20, 60, 180, 320, 450}

[Gare]
Nom = Gare Saint-Lazare
Prix = 20000
Loyers = {4, 20, 60, 180, 320, 450}

[Carte]
Nom = Chance
Type = chance

[Propriete]
Nom = Champs-Elysées
Prix = 35000
Couleur = bleu
Loyers = {4, 20, 60, 180, 320, 450}

[Taxe]
Nom = Taxe de luxe
Taxe = 10000

[Propriete]
Nom = Rue de la Paix
Prix = 40000
Couleur = bleu
Loyers = {4, 20, 60, 180, 320, 450}

#Fin du fichier